
h1 {
    color: blue;
    text-align: center;
    margin-top: 0px;
}

.contenu {
    display: flex;
}

.colonne {
    flex-grow: 1;
}

.nuit {
    color: yellowgreen;
    font-size: large;
    font-weight: bold;
    margin-bottom: 15px;
    height: 22px;
}
.hotel {
    color: green
}
.appartement {
    color: yellowgreen;
}

.jour {
    margin-bottom: 15px;
}
.jour1 {
    height: 150px;
}
.jour2 {
    height: 220px;
}
.jour3 {
    height: 220px;
}

.date {
    font-size: large;
    font-weight: bold;
}

.titre {
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 20px;
}

.texte {
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 5px;
    line-height: 1.2;
}

a {
    margin-left: 30px;
}

p {
    color: red;
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 5px;
}

.option {
    font-weight: bold;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 5px;
}

table {
    margin-top: 5px;
    margin-left: 40px;
    margin-bottom: 5px;
}

th {
    text-align: left;
    padding-right: 5px;
}